.SearchBox {
  padding: 10px;
  background: #d3d3d3;
}

.SearchBox form input[type="text" ]{
  padding: 12px;
  font-size: 1.3rem;
  margin: 0 auto;
  display: block;
  width: 90%;
}

.SearchBox a {
  font-size: 32px;
  float: left;
  text-decoration: none;
  position: absolute;
  left: 0;
  width: 5%;
  text-align: center;
}